<footer class="site-footer">
  <div class="inner">
    <div class="cols">
      <div class="col brand-col">
        <div class="brand">
          <span class="logo"><span class="dot pulse-dot"></span></span>
          <span class="wordmark">Pulsar</span>
        </div>
        <p>O radar do agora. Microblogging hiperlocal efêmero, em um mapa que pulsa.</p>
      </div>

      <div class="col">
        <h4>Produto</h4>
        <a href="/#sobre">O Pulsar</a>
        <a href="/#como-funciona">Como funciona</a>
        <a href="/#recursos">Recursos</a>
        <a href="/#planos">Planos</a>
      </div>

      <div class="col">
        <h4>Suporte</h4>
        <a href="/#download">Download</a>
        <a href="mailto:contato@pulsar.app">contato&#64;pulsar.app</a>
        <a href="#">Termos de uso</a>
        <a href="/privacidade/">Privacidade</a>
      </div>

      <div class="col">
        <h4>Comunidade</h4>
        <a href="#">Blog</a>
        <a href="#">Status</a>
        <a href="#">Imprensa</a>
      </div>
    </div>

    <div class="bottom">
      <span>© {{ year }} Pulsar. Feito com ❤︎ no Brasil.</span>
      <span class="meta">Posts duram 6 horas. Lembranças duram bem mais.</span>
    </div>
  </div>
</footer>
